@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    --gradient-bg: radial-gradient(
      circle at -12% 16%,
      rgba(255, 255, 255, 1),
      rgba(0, 0, 0, 0.8)
    );

    --border-color: black;
    transition: all 0.5s ease-in-out;

    --sky-color:#f3f6f4;
    --cloud-color:#d3dceb;

    --delay: 0s;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --border-color: white;

    --gradient-bg: radial-gradient(
      circle at -12% 16%,
      rgba(0, 0, 0, 1),
      rgba(255, 255, 255, 0.8)
    );
    transition: all 0.5s ease-in-out;
    --sky-color:#000000;
    --cloud-color:#b1c4e1;
  }


  .background-image {
    position: absolute;
    top: 50%; /* Central vertical alignment */
    left: 50%; /* Central horizontal alignment */
    transform: translate(-50%, -50%); /* Center the images */
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    background-size: cover;
    background-position: center;
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out;
  }

  .sun-image {
    background-image: url("/sun.png"); /* Update path accordingly */
    background-size: 10rem 10rem;
    background-repeat: no-repeat;
    opacity: 0; /* Start hidden */
    transform: translate(-50%, -10%); /* Start slightly raised */
  }

  .moon-image {
    background-image: url("/moon.gif"); /* Update path accordingly */
    background-size: 10rem 10rem;
    background-repeat: no-repeat;
    opacity: 0; /* Start hidden */
    transform: translate(-50%, -10%); /* Start slightly raised */
  }

  li {
    transition: font-size 0.25s ease-in-out;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
